<div class="container-fluid service py-6" id="service-section">
  <div class="container">
    <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
      <small
        class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3"
        >Our Services</small
      >
      <h1 class="display-5 mb-5"> </h1>
    </div>

    <div class="row g-4">
      {% for item in subservice %}

      {% comment %} <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp"    >
        <div class="bg-light rounded service-item">
          <div class="service-content d-flex align-items-center justify-content-center p-4">
            <div class="service-content-icon text-center">  {% endcomment %}

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  service-content-icon service-content rounded  wow bounceInUp "  data-wow-delay="0.1s"  >

                {% if item.image1 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image1.url }}") ; height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}
                {% if item.image2 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image2.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center;' >  </div>
                    </div>

                {% endif %}
                {% if item.image3 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image3.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}

                {% if item.image4 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image4.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image5 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image5.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image6 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image6.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image7 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image7.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image8 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image8.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image9 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image9.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image10 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image10.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image11 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image11.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image12 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image12.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image13 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image13.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}



                {% if item.image14 %}
                    
                    <div class="col ">
                      <div class="image  " style='background-image:url("{{ item.image14.url }}") ;height: 300PX;background-size: contain;background-repeat: no-repeat;background-position: center; ' >  </div>
                    </div>

                {% endif %}


                {% if item.image15 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image15.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image16 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image16.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image17 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image17.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image18 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image18.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image19 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image19.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image20 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image20.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image21 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image21.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image22 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image22.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image23 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image23.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image24 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image24.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image25 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image25.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image26 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image26.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image27 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image27.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image28 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image28.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image29 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image29.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image30 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image30.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image31 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image31.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image32 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image32.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image33 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image33.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image34 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image34.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image35 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image35.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image36 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image36.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image37 %}
                    <div class="col"> 
                        <div class="image " style='background-image:url("{{ item.image37.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image38 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image38.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image39 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image39.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}

                {% if item.image40 %}
                    <div class="col"> 
                        <div class="image  " style='background-image:url("{{ item.image40.url }}"); height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center;'></div>
                    </div>
                {% endif %}


 
            </div>
 

            {% comment %} </div>
          </div>
        </div>
      </div> {% endcomment %}

      {% endfor %}
    </div>
  </div>
</div>

  <!-- Fullscreen overlay -->
  <div id="fullscreenOverlay" class="fullscreen-overlay">
    <button class="close-button" id="closeButton">&times;</button>
    <div id="fullscreenImage" class="fullscreen-image"></div>
  </div>